@charset "UTF-8";
:root {
  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);
  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-grey: hsl(228, 33%, 97%);
  --text-color: var(--grayish-blue);
  --accent-color: var(--moderate-blue);
  --grey300: hsl(0, 0%, 70%);
  --grey500: hsl(0, 0%, 50%);
  --base-font-size: 16px;
  --small-font-size: 13.6px;
  --line-height: 1.6em;
  --body-font-family: "Rubik", sans-serif;
  --headings-font-family: var(--body-font-family);
  --h1-font-size: 2.7rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.3rem;
  --h5-font-size: 1.1rem;
  --h6-font-size: 1rem;
  --border-radius: 0.5rem;
}

/* ========================== § PROGRESS BAR COLORS === */
/* ========================== § REMOVE ARROWS === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  line-height: 1.5em;
  font-family: var(--body-font-family);
  color: var(--text-color);
  background-color: var(--very-light-grey);
}

/* ========================== § TYPOGRAPHY === */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 60ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: 1.2em;
}

h2 {
  font-size: var(--h2-font-size);
  line-height: 1.2em;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: 1.2em;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: 1.2em;
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}
a:hover {
  color: var(--light-grayish-blue);
}

dt {
  font-weight: bold;
}

hr {
  border: none;
  border-bottom: 1px solid var(--grey300);
}

/* ========================== § TABLES === */
table,
td,
th {
  border: 1px solid var(--grey300);
}

table {
  border-collapse: collapse;
}

caption {
  font-size: var(--h4-font-size);
  font-weight: bold;
}

thead {
  font-weight: bold;
  background: var(--grey300);
}
thead th {
  border-color: var(--grey500);
}

td,
th {
  padding: 0.5rem;
}

/* ========================== § IMAGES === */
img {
  max-width: 100%;
}

figcaption {
  font-size: var(--small-font-size);
}

/* ========================== § FORMS === */
fieldset,
textarea {
  border: 1px solid var(--grey300);
}

textarea,
input,
select {
  border: 1px solid var(--grey300);
  padding: 0.5rem;
}

button,
input[type=submit] {
  cursor: pointer;
}

.basic-container, textarea {
  border-radius: var(--border-radius);
  padding: 1rem;
  background: white;
}
@media screen and (min-width: 800px) {
  .basic-container, textarea {
    /* mixin mq */
    padding: 1.5rem;
    /* end mixin mq */
  }
}

.comments-container {
  --padding-container: 1rem;
  padding: var(--padding-container);
  max-width: calc(730px + var(--padding-container) * 2);
  margin: 0 auto;
}

textarea {
  border: 2px solid var(--light-gray);
}

.basic-button, .blue-button {
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  border: none;
  text-transform: uppercase;
}

.blue-button {
  background: var(--moderate-blue);
  color: white;
}
.blue-button:hover {
  background: var(--light-grayish-blue);
}

/* ============================================ */
/* ··········································· § COMMENTS LAYOUT ··· */
/* ======================================== */
.comment-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "header header header header" "comment comment comment comment" "points points action action";
  margin-bottom: 1rem;
}
@media screen and (min-width: 800px) {
  .comment-container {
    /* mixin mq */
    grid-template-columns: 2.5em auto auto;
    grid-template-rows: auto;
    grid-template-areas: "points header action" "points comment comment";
    grid-gap: 1.5rem;
    margin-bottom: 1.5rem;
    /* end mixin mq */
  }
}

.replies-container {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 2px solid var(--light-gray);
}
@media screen and (min-width: 800px) {
  .replies-container {
    /* mixin mq */
    margin-left: 2.7rem;
    padding-left: 2.7rem;
    /* end mixin mq */
  }
}

.comment__meta {
  grid-area: header;
}

.comment__comment {
  grid-area: comment;
}

.counter-container {
  grid-area: points;
}

.comment__action {
  grid-area: action;
  display: flex;
}
.comment__action > * {
  margin-left: auto;
  display: inline-flex;
}

.reply {
  display: grid;
  grid-template-columns: 2rem auto;
  grid-template-areas: "text text" "avatar button";
  grid-gap: 1rem;
}
@media screen and (min-width: 800px) {
  .reply {
    /* mixin mq */
    grid-template-columns: 2.5rem auto max-content;
    grid-template-areas: "avatar text button";
    /* end mixin mq */
  }
}

.reply__text {
  grid-area: text;
}

.reply__avatar {
  grid-area: avatar;
}

.reply__button-container {
  grid-area: button;
  text-align: right;
}

/* ============================================ */
/* ··········································· § STYLES ··· */
/* ======================================== */
.comment__meta {
  display: flex;
  align-items: center;
}
.comment__meta * + * {
  margin-left: 1rem;
}

.comment__avatar {
  width: 2rem;
  height: 2rem;
}

.comment__author {
  color: var(--dark-blue);
}

.comment__date {
  white-space: nowrap;
}

.comment__action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 700;
}
.comment__action > * + * {
  margin-left: 1rem;
}

.comment__delete {
  color: var(--soft-red);
}

/* ============================================ */
/* ··········································· § VISIBILITY ··· */
/* ======================================== */
.comment__delete,
.comment__edit {
  display: none;
}
.current-user .comment__delete,
.current-user .comment__edit {
  display: inline-flex;
}

.current-user .comment__reply {
  display: none;
}

.counter {
  display: flex;
  background: var(--very-light-grey);
  border-radius: var(--border-radius);
  padding: 0.5rem;
}
@media screen and (max-width: 799px) {
  .counter {
    /* mixin mq */
    width: 6.2rem;
    align-items: center;
    justify-content: space-around;
    /* end mixin mq */
  }
}
@media screen and (min-width: 800px) {
  .counter {
    /* mixin mq */
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    /* end mixin mq */
  }
}

.counter__count {
  color: var(--moderate-blue);
}
@media screen and (min-width: 800px) {
  .counter__count {
    /* mixin mq */
    margin: 0.4rem 0;
    /* end mixin mq */
  }
}

.counter__plus,
.counter__minus {
  color: var(--light-grayish-blue);
}
.counter__plus:hover,
.counter__minus:hover {
  color: var(--moderate-blue);
}

.icon-text__icon {
  margin-right: 0.3rem;
}

.tag {
  font-size: var(--small-font-size);
  padding: 0 0.5rem;
  border-radius: 3px;
  background: var(--grey300);
}

.tag--blue {
  background: var(--moderate-blue);
  color: white;
}

/*# sourceMappingURL=main.css.map */
