@use "../index" as *;

.basic-button {
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  border: none;
  text-transform: uppercase;
}

.blue-button {
  @extend .basic-button;
  background: var(--moderate-blue);
  color: white;

  &:hover {
    background: var(--light-grayish-blue);
  }
}
