@use "../index" as *;

.basic-button {
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  border: none;
  text-transform: uppercase;
  transition: var(--transition);
}

.blue-button {
  @extend .basic-button;
  background: var(--moderate-blue);
  color: white;

  &:hover {
    background: var(--light-grayish-blue);
  }
}

.red-button {
  @extend .basic-button;
  background: var(--soft-red);
  color: white;

  &:hover {
    background: var(--pale-red);
  }
}
