@use "../index.scss" as *;
/* ============================================ */
/* ··········································· § COMMENTS LAYOUT ··· */
/* ======================================== */

.comment-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "comment comment comment comment"
    "points points action action";
  margin-bottom: 1rem;

  @include mq($desktop-width, up) {
    grid-template-columns: 2.5em auto auto;
    grid-template-rows: auto;
    grid-template-areas:
      "points header action"
      "points comment comment";
    grid-gap: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.replies-container {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 2px solid var(--light-gray);

  @include mq($desktop-width, up) {
    margin-left: 2.7rem;
    padding-left: 2.7rem;
  }
}

.comment__meta {
  grid-area: header;
}

.comment__comment {
  grid-area: comment;
}

.counter-container {
  grid-area: points;
}

.comment__action {
  grid-area: action;
}

.reply {
  display: grid;
  grid-template-columns: 2rem auto;
  grid-template-areas:
    "text text"
    "avatar button";
  grid-gap: 1rem;

  @include mq($desktop-width, up) {
    grid-template-columns: 2.5rem auto max-content;
    grid-template-areas: "avatar text button";
  }
}

.reply__text {
  grid-area: text;
}

.reply__avatar {
  grid-area: avatar;
}

.reply__button-container {
  grid-area: button;
  text-align: right;
}

/* ============================================ */
/* ··········································· § STYLES ··· */
/* ======================================== */
.comment__meta {
  display: flex;
  align-items: center;

  * + * {
    margin-left: 1rem;
  }
}

.comment__avatar {
  width: 2rem;
  height: 2rem;
}

.comment__author {
  color: var(--dark-blue);
}

.comment__action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 700;

  > * + * {
    margin-left: 1rem;
  }
}

.comment__delete {
  color: var(--soft-red);
}
