@use "../index.scss" as *;
/* ============================================ */
/* ··········································· § COMMENTS LAYOUT ··· */
/* ======================================== */

.comment-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header header header header"
    "comment comment comment comment"
    "points points action action";

  @include mq($desktop-width, up) {
    grid-template-columns: 3em auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "points header action"
      "points comment comment";
  }
}

.comment__meta {
  grid-area: header;
}

.comment__comment {
  grid-area: comment;
}

.comment__points {
  grid-area: points;
}

.comment__action {
  grid-area: action;
}
