@use "../index.scss" as *;

.basic-container {
  border-radius: var(--border-radius);
  padding: 1rem;
  background: white;

  @include mq($desktop-width, up) {
    padding: 1.5rem;
  }
}

.comments-container {
  padding: 1rem;
}
