@use "../index.scss" as *;

.basic-container {
  border-radius: var(--border-radius);
  padding: var(--padding-container);
  background: white;

  @include mq($desktop-width, up) {
    padding: 1.5rem;
  }
}

.page-container {
  max-width: calc(730px + var(--padding-container) * 2);
  margin: 0 auto;
}
